{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4 font-italic">Reset Password</legend>
				<div class="form-group">
					{{ form.password.label(class="form-control-label font-italic") }}
					<!-- if input is not valid -->
					{% if form.password.errors %}
						<div class="text-box">
							{{ form.password(class="form-control", placeholder="Password") }}
						</div>
	
						<div class="custom-error-feedback">
							{% for error in form.password.errors %}
								 <span>{{ error }}</span>
							{% endfor %}
						</div>
	
					{% else %}
						<div class="text-box">
							{{ form.password(class="form-control ", placeholder="Password") }}
						</div>
					{% endif %}
				</div>
	
				<div class="form-group">
					{{ form.confirm_password.label(class="form-control-label font-italic") }}
					<!-- if input is not valid -->
					{% if form.confirm_password.errors %}
						<div class="text-box">
							{{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
						</div>
	
						<div class="custom-error-feedback">
							{% for error in form.confirm_password.errors %}
								 <span>{{ error }}</span>
							{% endfor %}
						</div>
	
					{% else %}
						<div class="text-box">
							{{ form.confirm_password(class="form-control ", placeholder="Confirm Password") }}
						</div>
					{% endif %}
				</div>

			</fieldset>
			
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
            </div>

		</form>
	</div>


{% endblock content%}






{% block sidebar_content2 %}
	<div class="content-section">
		<h3 class="text-dark">CTWGO Navigation</h3>	
		<img src="{{ url_for('static', filename='img/logo.png') }}" width="45" height="45" class="d-inline-block align-top" alt="">
		<ul class="pl-0">
			<li class="mt-2 mb-4"><a class="text-muted" href="{{ url_for('main.home') }}">Home</a></li>
			<li class="mb-4"><a class="text-muted" href="{{ url_for('main.about') }}">About</a></li>
			<li class="mb-4"><a class="text-muted" href="{{ url_for('users.login') }}">Login</a></li>
			<li class="mb-4"><a class="text-muted" href="{{ url_for('users.register') }}">Register</a></li>
			
		</ul>
	</div>
{% endblock sidebar_content2 %}